@import "colors";

.closed {
  visibility: hidden;
  transform: translate(100%, 0%);
}
.menu.open {
  visibility: visible;
  transform: translateX(0);
}

.menu {
  z-index: 50;
  transition: all 0.3s ease-in-out;
}
