@import "colors";

article {
  transition: all 0.3s ease-in-out;
}
article:hover {
  transform: scale(1.05);
  transform: translateY(-5px);
}
article:hover img {
  border-bottom: 4px solid $yellow;
  filter: grayscale(0%);
}
article img {
  border-bottom: 4px solid $blue;
  filter: grayscale(80%);
}
