<div class="header-blu w-full h-screen flex justify-start">
  <div class="mt-8 flex flex-col gap-4 w-full">
    <div class="ml-8 flex flex-col">
      <div
        class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-100 uppercase font-extrabold text-3xl"
      >
        Rational Thinking
      </div>
      <div
        class="bg-clip-text text-transparent bg-gradient-to-r from-pink-400 to-violet-100 font-bold"
      >
        Work in progress...
      </div>
    </div>
  </div>
</div>
