@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fadeIn *:nth-child(odd) {
  animation: fadeIn 2s ease-in-out;
  animation: fromRight 2s ease-in-out;
}
.fadeIn *:nth-child(even) {
  animation: fadeIn 2s ease-in-out;
  animation: fromLeft 2s ease-in-out;
}
