@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.fadeIn *:nth-child(odd) {
  animation: fadeIn 500ms ease-in-out;
  animation: fromRight 1s ease-in-out;
  animation-delay: 1s;
}
.fadeIn *:nth-child(even) {
  animation: fadeIn 500ms ease-in-out;
  animation: fromLeft 1s ease-in-out;
  animation-delay: 1s;
}
