.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 64px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}
.btn-burger {
  position: absolute;
  background-color: black;
  width: 64px;
  height: 6px;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.btn-burger::before,
.btn-burger::after {
  content: "";
  position: absolute;
  background-color: black;
  right: 0px;
  width: 64px;
  height: 6px;
  border-radius: 5px;
  transition: all 300ms ease-in-out;
}

.btn-burger::before {
  transform: translateY(-16px);
}
.btn-burger::after {
  transform: translateY(16px);
}

.open .btn-burger {
  transform: translateX(-64px);
  background: transparent;
}
.open .btn-burger::before {
  transform: rotate(45deg) translate(45px, -45px);
}
.open .btn-burger::after {
  transform: rotate(-45deg) translate(45px, 45px);
}
