/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "rationality-font";
  src: url("./assets/font/Sk-Modernist-Regular.otf") format("opentype");
}

* {
  font-family: "rationality-font" !important;
}
