@import "colors";

.arrow-container {
  &:hover {
    transform: scale3d(0.95, 0.95, 1);
  }
}
.arrow {
  position: relative;
  top: 0%;
  width: 5px;
  height: 2rem;
  border-radius: 5px;
  z-index: 20;
}

.arrow::after,
.arrow::before {
  content: "";

  position: absolute;
  top: 0;
  width: 4px;
  height: 1.25rem;
  border-radius: 5px;
  z-index: 20;
}
.arrow::after {
  transform: translate(calc(-6px + 10px), -3px) rotate(-45deg);
}
.arrow::before {
  transform: translate(calc(7px - 15px), -3px) rotate(45deg);
}
