<div class="w-full h-full min-h-screen">
  <div *ngIf="article$ | async; else spinner">
    <header class="relative w-full h-screen">
      <div class="relative h-2/3 md:h-1/2 bg-blue_background">
        <h1
          class="w-fit text-[3rem] xl:text-[5rem] overflow-hidden top-20 underline decoration-2 underline-offset-8 decoration-lime text-white font-thin mx-8"
        >
          {{ article.title | titlecase }}
        </h1>
        <p
          [innerHTML]="article.description | markdown"
          class="w-full px-8 mt-6 text-lg font-thin text-white underline md:mt-6 lg:pt-0 xl:pt-6 lg:text-xl xl:text-2xl prose-strong:font-bold lg:absolute lg:w-1/3 lg:top-1/3 xl:top-1/3 lg:right-0 decoration-lime underline-offset-2 md:underline-offset-4"
        ></p>
        <div
          class="absolute w-full lg:w-[50%] xl:w-[40%] flex justify-center -bottom-[25%] sm:-bottom-[10%] md:-bottom-[45%] lg:bottom-[10%] xl:-bottom-[35%]"
        >
          <img
            class="object-cover w-11/12 border rounded-lg md:w-10/12 lg:w-11/12 border-yellow lg:ml-8 xl:ml-0 md:h-1/3 aspect-video"
            src="{{ article.image.url }}"
            alt="{{ article.image.description }}"
          />
        </div>
      </div>
    </header>
  </div>
  <article class="flex justify-center w-full -translate-y-96">
    <section
      class="w-full mx-8 mt-64 prose sm:mt-40 lg:mt-32 prose-slate lg:prose-lg xl:prose-xl"
      [innerHtml]="_returnHtmlFromRichText(article.content) | markdown"
    ></section>
  </article>
</div>
<ng-template #spinner>
  <div class="absolute inset-x-1/2 top-1/3 w-fit h-fit">
    <spinner></spinner>
  </div>
</ng-template>

<!-- 
<div class="grid w-full bg-blue-100 realtive h-96 place-items-center gap-y-2 lg:place-items-start">
  <div class="px-8 py-8 text-3xl">Percezioni</div>
  <p class="px-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore deserunt architecto aspernatur ullam tenetur dolorem. Cupiditate consequatur vitae voluptas, molestiae blanditiis ea quaerat ratione molestias veritatis unde necessitatibus tempora ipsam!</p>
  <div class="max-w-2xl translate-y-[25%] px-8">
    <img class="aspect-video" src="https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1000&amp;q=80" alt="" />
  </div>
</div>
<article>
  
</article> -->
